/* Default CSS Start */
:root {
  --white: #fff;
  --background: #d2d6dc;
  --menu-bg: #252f3f;
  --menu-bg-hover: #161e2e;
  --label: #ebebeb;
  --submenu: #adb3bd;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* Default Css End */

.sidebar {
  margin: 16px;
}

.menu {
  background-color: var(--menu-bg);
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  height: 600px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.menu-item-link {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  width: 280px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.menu-item-label {
  overflow: hidden;
}

.menu-item-link:hover {
  background-color: var(--menu-bg-hover);
}

.menu-item-icon {
  font-size: 25px;
  color: var(--submenu);
  margin-right: 20px;
}

.menu-item-main-link:hover .menu-item-icon {
  color: var(--white);
}

.menu-item-label,
.menu-item-number {
  color: var(--label);
  font-size: 16px;
}

.menu-item-number {
  margin-left: auto;
  background-color: var(--menu-bg-hover);
  padding: 5px 15px;
  border-radius: 16px;
}

.menu-item-label:hover,
.menu-item-number:hover {
  color: var(--white);
}

.menu-item-number:empty {
  display: none;
}

.submenu-header {
  margin-top: 50px;
}

.submenu-header-link:hover {
  background-color: var(--menu-bg);
}

.submenu-header-label {
  text-transform: uppercase;
  color: var(--submenu);
}

.submenu-header-label:hover {
  color: var(--submenu);
}

.submenu-label,
.profile-name,
.profile-info {
  white-space: nowrap;
}

.profile {
  margin-top: 30px;
}

.profile-link:hover {
  background-color: var(--menu-bg);
  cursor: default;
}

.profile-img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-info {
  color: var(--submenu);
}

.profile-info:hover {
  color: var(--white);
  cursor: pointer;
}

.setting-icon {
  color: var(--submenu);
  margin-left: auto;
  margin-right: 0px;
  padding: 5px 5px;
  border-radius: 16px;
}

.setting-icon:hover {
  color: var(--white);
  background-color: var(--menu-bg-hover);
  cursor: pointer;
}

.active-menu-link {
  background-color: var(--menu-bg-hover);
}

.active-menu-icon {
  color: var(--white);
}

.active-menu-label,
.active-menu-number {
  color: var(--white);
}

.toggle-arrow-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: -3px;
  padding: 5px;
  background-color: var(--menu-bg);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transform: rotate(180deg);
}

/* css intended for js */

.menu-item-link-width {
  width: 40px;
  transition: all 0.5s ease;
}

.menu-item-main-label-change,
.menu-item-number-change,
.profile-name-change,
.profile-info-change,
.setting-icon-change,
.active-menu-label-change,
.submenu-label-change {
  display: none;
}

.submenu-link-change {
  cursor: default;
}

.submenu-link-change:hover {
  background-color: transparent;
}

.profile-margin {
  margin-top: 150px;
}

.profile-link-padding {
  padding: 1px;
}

.toggle-arrow-icon-change {
  transform: rotate(0deg);
}
